body {
    background-color: #e9edee;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Escala la imagen para llenar el contenedor sin distorsionarla */
    
    position: absolute; /* Permite ajustar la ubicación de la parte recortada */
    top: 0; /* Ajusta la posición vertical (puedes cambiarlo según tus necesidades) */
    left: 0; /* Ajusta la posición horizontal (puedes cambiarlo según tus necesidades) */
}


.back,
.esquina-br,
.esquina-tl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back {
    background: url("../images/back.jpg") no-repeat;
    z-index: -3;
    background-size: 100% 300vh;
}

.esquina-br {
    background: url("../images/esquina_inferior_derecha.png") bottom right no-repeat;
    z-index: -2;
    background-size: 10%;
}

.esquina-tl {
    background: url("../images/esquina_superior_izquierda.png") top left no-repeat;
    z-index: -1;
    background-size: 20%;
}
.lottie-container {
    height: 100px;
  }

  .icon-box {
    color: #fff;		
    /*position: absolute;*/
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 2401;
    background: #FFF;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}