body {
    background: url("../images/back.jpg") center no-repeat,
        url("../images/esquina_inferior_derecha.png") bottom right no-repeat,
        url("../images/esquina_superior_izquierda.png") top left no-repeat;
    background-size: 100%, auto, auto;
    z-index: 3, 1, 1,;
}
