body {
    background: url("../images/back.jpg") center no-repeat,
        url("../images/esquina_inferior_derecha.png") bottom right no-repeat,
        url("../images/esquina_superior_izquierda.png") top left no-repeat;
    background-size: 100%, 40%, 50vw 50vh;;
    z-index: 1, 2, 3;
}
