body {
    background: url("../images/back.jpg") center repeat,
        url("../images/esquina_inferior_derecha.png") bottom right no-repeat,
        url("../images/esquina_superior_izquierda.png") top left no-repeat;
    background-size: 100%, 100%, auto;
    z-index: 1, 2, 3;
}
