@font-face {
    font-family: 'Nunito Bold';
    src: url('../assets/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Nunito Sans Regular';
    src: url('../assets/fonts/NunitoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .nunito-bold {
    font-family: 'Nunito Bold', sans-serif;
  }
  
  .nunito-regular {
    font-family: 'Nunito Sans Regular', sans-serif;
  }