@font-face {
    font-family: "Nunito Bold";
    src: url("Nunito-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Nunito Sans Regular";
    src: url("NunitoSans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Nunito Bold";
}

.nunito-bold {
    font-family: "Nunito Bold", sans-serif;
}

.nunito-regular {
    font-family: "Nunito Sans Regular", sans-serif;
}
